{
  "printWidth": 150,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "proseWrap": "always",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "parser": "mdx"
      }
    }
  ]
}
