.custom-button {
  padding: 10px 16px;
  background-color: var(--ifm-color-primary-dark);
  color: var(--font-color-inverse);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #6799ab;
  color: var(--font-color);
  text-decoration: none !important;
}

[data-theme="dark"] .custom-button:hover {
  background-color: #003e53;
}

.custom-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
