@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/static/fonts/Aptos-Narrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header-container {
  background-color: #4d6873;
  margin-top: 0;
  height: 4.5vw;
  align-content: center;
}

[data-theme="dark"] .header-container {
  background-color: #2f4a55;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: clamp(1.8rem, 3.0vw, 2.5rem);
  font-weight: bold;
  color: #F9F9F9;
}

[data-theme="dark"] h1 {
  color: #efefef;
}
