.nav-and-print-container {
  display: flex;
  margin-bottom: var(--ifm-leading);
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.8rem, 2vw, 1rem);
  cursor: pointer;
  color: var(--ifm-link-color);
}

.print-to-pdf-container {
  margin-left: auto;
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.8rem, 2vw, 1rem);
  cursor: pointer;
  color: var(--ifm-link-color);
}
