.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-link-container {
  flex: 1;
}

.version-container {
  flex: 0;
  margin-left: 20px;
}
