:root {
  --color: #003e53;
  --background-color: white;
  --inactive-background-color: #d4d4d4;
  --hover-background-color: #d4d4d4;
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  --hover-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

html[data-theme="dark"] {
  --color: #ffffff;
  --background-color: #555;
  --inactive-background-color: #303030;
  --hover-background-color: #303030;
  --box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.5);
  --hover-box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/static/fonts/Aptos-Narrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.content-bubble {
  display: flex;
  height: 105px;
  align-items: center;
  background-color: var(--background-color);
  padding: 10px;
  padding-left: 15px;
  gap: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.content-bubble.inactive {
  background-color: var(--inactive-background-color);
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.content-bubble:hover {
  background-color: var(--hover-background-color);
  box-shadow: var(--hover-box-shadow);
  text-decoration: none;
}

.icon {
  margin-top: 10px;
}

.icon img {
  width: 60px;
  height: auto;
}

.doc-name p {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  text-decoration: none;
  color: var(--color);
  line-height: 1.2;
  margin-bottom: 0;
}

.coming-soon {
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  text-decoration: none;
  color: var(--color);
  line-height: 1;
}

@media (min-width: 769px) and (max-width: 1280px) {
  /* For medium screens */
  .doc-name p {
    font-size: clamp(0.8rem, 2.5vw, 1rem);
  }

  .doc-name p1 {
    font-size: clamp(0.4rem, 2.5vw, 0.6rem);
  }
}

@media (max-width: 768px) {
  /* For smaller screens */
  .doc-name p {
    font-size: clamp(0.8rem, 2.5vw, 1rem);
  }

  .doc-name p1 {
    font-size: clamp(0.4rem, 2.5vw, 0.6rem);
  }
}

.content-bubble-large {
  display: flex;
  flex-direction: column;
  height: 550px;
  background-color: var(--background-color);
  padding: 25px;
  gap: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.content-bubble-large.inactive {
  background-color: var(--inactive-background-color);
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.content-bubble-large:hover {
  background-color: var(--hover-background-color);
  box-shadow: var(--hover-box-shadow);
  text-decoration: none;
}

.icon-large {
  display: flex;
  height: 40%;
  justify-content: center;
}

.icon-large img {
  width: auto;
  height: 100%;
}

.doc-name-large p {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1.75rem, 2.5vw, 2rem);
  text-align: center;
  text-decoration: none;
  color: var(--color);
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 0;
}

.items-list {
  width: fit-content;
  height: 200px;
  margin: 10px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.coming-soon-large {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  text-align: center;
  text-decoration: none;
  color: var(--color);
  line-height: 1;
}

@media (min-width: 769px) and (max-width: 1280px) {
  /* For medium screens */
  .doc-name-large p {
    font-size: clamp(0.8rem, 2.5vw, 1rem);
  }

  .doc-name-large p1 {
    font-size: clamp(0.4rem, 2.5vw, 0.6rem);
  }
}

@media (max-width: 768px) {
  /* For smaller screens */
  .doc-name-large p {
    font-size: clamp(0.8rem, 2.5vw, 1rem);
  }

  .doc-name-large p1 {
    font-size: clamp(0.4rem, 2.5vw, 0.6rem);
  }
}
