:root {
  --color: #003e53;
  --border-color: #d9d9d9;
}

html[data-theme="dark"] {
  --color: #ffffff;
  --border-color: #555;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/static/fonts/Aptos-Narrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.content-card-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 40px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: left;
}

.content-card-container img {
  height: 40px;
  width: auto;
  margin-right: 10px;
  padding: 5px;
}

.content-card-title p {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 5vw, 1.2rem);
  color: var(--color);
  text-align: left;
  margin: 0;
}

@media (min-width: 769px) and (max-width: 1280px) {
  /* For medium screens */
  .content-card-title p {
    font-size: clamp(0.8rem, 2.5vw, 1rem);
  }
}

@media (max-width: 768px) {
  /* For smaller screens */
  .content-card-title p {
    font-size: clamp(0.8rem, 2.5vw, 1rem);
  }
}
