:root {
  --color: #003e53;
  --border-color: #d9d9d9;
}

html[data-theme="dark"] {
  --color: #ffffff;
  --border-color: #555;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/static/fonts/Aptos-Narrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.content-container {
  width: 70%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-bottom: 1px solid var(--border-color);
}

.content-title {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1.3rem, 5vw, 1.8rem);
  font-weight: bold;
  color: var(--color);
  margin-bottom: 20px;
}

.bubble-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 25px;
}

.bubble-container > * {
  width: calc((100% - 40px) / 3);
  min-width: 150px;
  max-width: calc((100% - 40px) / 3);
}

@media (min-width: 769px) and (max-width: 1760px) {
  /* For medium screens */
  .bubble-container > * {
    width: calc((100% - 40px) / 2);
    min-width: 150px;
    max-width: calc((100% - 40px) / 2);
  }
}

@media (max-width: 768px) {
  /* For smaller screens */
  .bubble-container > * {
    width: 100%; /* Bubbles take up full width of container */
    max-width: 100%; /* Ensure bubbles can take the entire width */
  }
}
