.katex {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  line-height: 1.2;
  font-family: KaTeX_Main, Times New Roman, serif;
}

@media (max-width: 480px) {
  .katex {
    font-size: clamp(0.75rem, 2.5vw, 1.2rem);
    line-height: 1.2;
    font-family: KaTeX_Main, Times New Roman, serif;
  }
}

.katex-display {
  max-width: 100%;
  overflow-x: auto;
}

.katex-display > .katex {
  padding-left: 25px;
  margin-bottom: 25px;
}
