.figure-container {
  width: 100%;
  margin-left: 0;
  margin-right: auto;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-top: 25px;
  padding-bottom: 20px;
  justify-items: left;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.figure-image {
  max-width: 90%;
  height: auto;
  display: block;
}

.figure-caption {
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  font-style: italic;
  text-align: left;
  color: gray;
  margin-top: 1em;
}
