.figure-container {
  width: 100%;
  margin-left: 0;
  margin-right: auto;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-top: 25px;
  padding-bottom: 20px;
  justify-items: left;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.figure-image {
  max-width: 80%;
  height: auto;
  display: block;
}

.figure-caption {
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.7rem, 2.0vw, 0.9em);
  font-style: italic;
  padding-top: 5px;
  text-align: left;
}
