@font-face {
  font-family: "Aptos Narrow";
  src: url("/static/fonts/Aptos-Narrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header-container {
  background-color: #4d6873;
  margin-top: 0;
  height: 125px;
  align-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: "Aptos Narrow";
  margin: 0;
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: bold;
  color: white;
}
