.download-pdf-button {
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.8rem, 2vw, 1.0rem);
  cursor: pointer;
  color: var(--ifm-link-color);
  background-color: transparent;
  border: none;
  display: block;
}
