.download-pdf-button {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  cursor: pointer;
  color: var(--ifm-link-color);
  background-color: transparent;
  border: none;
  display: block;
}
