/* Styling the search container */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 30px;
  flex: 0 1 auto;
}

/* Search input box */
.search-input {
  padding: 4px 12px;
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px;
  transition: all 0.3s ease;
  background-color: var(--ifm-background-color-theme);
  color: var(--color);
}

/* Focused input styling (Algolia effect) */
#search-input:focus {
  border-color: #0066cc;
  box-shadow: 0 0 0 4px rgba(0, 102, 204, 0.1);
  outline: none;
}

/* Input placeholder */
.search-input::placeholder {
  color: #aaa;
}

/* Search results container */
.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  background: white;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none; /* Initially hidden */
}

/* Search result items */
.search-results .search-item {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #f0f0f0;
  transition: background 0.2s ease;
}

.search-results .search-item:hover {
  background-color: #f6f6f6;
}

/* Show results on focus */
.search-input:focus + #search-results {
  display: block;
}
