.table-caption {
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.7rem, 2.0vw, 0.9rem);
  font-style: italic;
  color: gray;
  text-align: left;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  margin-left: 0;
  margin-right: auto;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-top: 15px;
  padding-bottom: 10px;
  justify-items: left;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.static-table-vertical-full,
.static-table-vertical-partial {
  max-width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.static-table-vertical-full th,
.static-table-vertical-full td,
.static-table-vertical-partial th,
.static-table-vertical-partial td {
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.9rem, 2.0vw, 1.1rem);
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  width: 1%;
  min-width: 0;
  white-space: normal;
  box-sizing: border-box;
}

.static-table-vertical-partial th,
.static-table-vertical-partial td {
  width: auto;
  min-width: 150px;
}

.static-table-vertical-full th,
.static-table-vertical-partial th {
  background-color: var(--ifm-color-primary-darker);
  color: var(--font-color-inverse);
  padding-left: 10px;
  padding-right: 10px;
}

[data-theme="dark"] .static-table-vertical-full-left th,
[data-theme="dark"] .static-table-vertical-partial-left th {
  background-color: var(--ifm-color-primary-darkest);
}

.static-table-vertical-full td,
.static-table-vertical-partial td {
  background-color: var(--ifm-background-color);
  color: var(--font-color);
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}

.static-table-vertical-full tr:nth-child(2n),
.static-table-vertical-partial tr:nth-child(2n) {
  background-color: #F9F9F9;
}
