.table-container-bestfit {
  width: 100%;
  overflow-x: auto;
  margin-left: 0;
  margin-right: auto;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-top: 15px;
  padding-bottom: 10px;
  justify-items: left;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.static-table-vertical-bestfit-full,
.static-table-vertical-bestfit-partial {
  max-width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.static-table-vertical-bestfit-full th,
.static-table-vertical-bestfit-full td,
.static-table-vertical-bestfit-partial th,
.static-table-vertical-bestfit-partial td {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  width: auto;
  min-width: 0;
  white-space: normal;
  word-wrap: break-word;
  box-sizing: border-box;
}

.static-table-vertical-bestfit-full th,
.static-table-vertical-bestfit-partial th {
  background-color: var(--ifm-color-primary-lighter);
  color: var(--font-color-inverse);
  padding-left: 10px;
  padding-right: 10px;
}

[data-theme="dark"] .static-table-vertical-bestfit-full th,
[data-theme="dark"] .static-table-vertical-bestfit-partial th {
  background-color: var(--ifm-color-primary-darkest);
}

.static-table-vertical-bestfit-full td,
.static-table-vertical-bestfit-partial td {
  color: var(--font-color);
  padding-left: 10px;
  padding-right: 10px;
}

/* Zebra striping for rows */
.static-table-vertical-bestfit-full tr:nth-child(2n),
.static-table-vertical-bestfit-partial tr:nth-child(2n) {
  background-color: #f5f5f5;
}

[data-theme="dark"] .static-table-vertical-bestfit-full tr:nth-child(2n),
[data-theme="dark"] .static-table-vertical-bestfit-partial tr:nth-child(2n) {
  background-color: #121212; 
}

.equation-stack {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.25rem; /* space between equations */
}

.equation-stack .katex {
  width: 100%;
  white-space: normal;
}
