.table-container-version-history {
  width: 100%;
  overflow-x: auto;
  margin-left: 0;
  margin-right: auto;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-top: 15px;
  padding-bottom: 10px;
  justify-items: left;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.static-table-version-history {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  table-layout: fixed;
  display: table;
}

.static-table-version-history th,
.static-table-version-history td {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  box-sizing: border-box;
  word-wrap: break-word;
  white-space: normal;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.static-table-version-history th {
  background-color: var(--ifm-color-primary);
  color: var(--font-color-inverse);
}

.static-table-version-history td {
  background-color: var(--ifm-background-color);
  color: var(--font-color);
}

.static-table-version-history tr:nth-child(2n) {
  background-color: white;
}

.static-table-version-history th:nth-child(1),
.static-table-version-history td:nth-child(1) {
  width: 8%;
}

.static-table-version-history th:nth-child(2),
.static-table-version-history td:nth-child(2) {
  width: 13%;
}

.static-table-version-history th:nth-child(3),
.static-table-version-history td:nth-child(3) {
  width: 33%;
}

.static-table-version-history th:nth-child(4),
.static-table-version-history td:nth-child(4) {
  width: 14%;
}

.static-table-version-history th:nth-child(5),
.static-table-version-history td:nth-child(5) {
  width: 14%;
}

.static-table-version-history th:nth-child(6),
.static-table-version-history td:nth-child(6) {
  width: 14%;
}
