.table-caption {
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
  font-style: italic;
  color: gray;
  text-align: left;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  margin-left: 0;
  margin-right: auto;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-top: 15px;
  padding-bottom: 10px;
  justify-items: left;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.static-table-vertical-full-left,
.static-table-vertical-partial-left {
  max-width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.static-table-vertical-full-left th,
.static-table-vertical-full-left td,
.static-table-vertical-partial-left th,
.static-table-vertical-partial-left td {
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.8rem, 2vw, 1.0rem);
  border: 1px solid #ddd;
  padding: 5px;
  text-align: left;
  white-space: normal;
  box-sizing: border-box;
}

[data-theme="dark"] .static-table-vertical-full-left th,
[data-theme="dark"] .static-table-vertical-full-left td,
[data-theme="dark"] .static-table-vertical-partial-left th,
[data-theme="dark"] .static-table-vertical-partial-left td {
  border: 1px solid #2c3032;
}

.static-table-vertical-partial-left th,
.static-table-vertical-partial-left td {
  width: auto;
  min-width: 150px;
}

.static-table-vertical-full-left th,
.static-table-vertical-partial-left th {
  background-color: var(--ifm-color-primary-lighter);
  color: var(--font-color-inverse);
  padding-left: 10px;
  padding-right: 10px;
}

[data-theme="dark"] .static-table-vertical-full-left th,
[data-theme="dark"] .static-table-vertical-partial-left th {
  background-color: var(--ifm-color-primary-darkest);
}

.static-table-vertical-full-left td,
.static-table-vertical-partial-left td {
  color: var(--font-color);
  padding-left: 10px;
  padding-right: 10px;
  white-space: normal;
  word-break: break-word;
}

/* Zebra striping for rows */
.static-table-vertical-full-left tr:nth-child(2n),
.static-table-vertical-partial-left tr:nth-child(2n) {
  background-color: #f5f5f5;
}

[data-theme="dark"] .static-table-vertical-full-left tr:nth-child(2n),
[data-theme="dark"] .static-table-vertical-partial-left tr:nth-child(2n) {
  background-color: #121212; 
}
